<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
</head>

<body>

<body>
<div class="demoTable">
    搜索订单ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="byOrderId" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<div class="demoTable1">
    搜索用户ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="byUserId" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <table class="layui-table layui-form" id="orderList" lay-filter="orderfilt">

                    </table>
                    <script type="text/html" id="toolbarUser">
                        <div class="layui-btn-container">

                        </div>
                    </script>
                    <script type="text/html" id="barUser">
                        <a class="layui-btn layui-btn-xs" lay-event="send">发货</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject">拒绝</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>



<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#orderList'
            ,url:'/getPageOrderList'
            ,toolbar: '#toolbarUser' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print']
            ,cols: [ [
                {type:'checkbox'}
                ,{field:'id', width:80, title: '订单号', sort: true}
                ,{field:'userid', width:80, title: '用户ID'}
                ,{field:'goodid', width:80, title: '商品ID'}
                ,{field:'size', width:80, title: '数量', sort: true}
                ,{field:'status', width:200, title: '状态'}
                ,{fixed: 'right', title:'操作', toolbar: '#barUser', width:150}
            ] ]
            ,page: true
            ,id: "testReload"
        });

        // 通过reload实现通过订单ID查询
        var active = {
            reload: function(){
                var byOrderId = $('#byOrderId');

                table.reload('testReload', {
                    url: 'orderSearch/'+byOrderId.val().toString(),
                    method: 'post'
                })
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        // 通过用户ID查询
        var active1 = {
            reload: function(){
                var byUserId = $('#byUserId');

                table.reload('testReload', {
                    url: 'orderSearchByUserid/'+byUserId.val().toString(),
                    method: 'post'
                })
            }
        };
        $('.demoTable1 .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active1[type] ? active1[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(orderfilt)', function(obj){
            var data = obj.data;

            // 商家取消订单
            if(obj.event === 'reject'){
                layer.confirm('真的要拒绝吗', function(index){

                    $.ajax({
                        type:'post',
                        url:'/orderReject',
                        async:false,
                        data:{id:data.id},
                        success:function (code) {
                            if(code==="0"){
                                layer.msg("拒绝成功",{icon:6});
                                layui.father_reload();

                            }
                            else{
                                layer.msg("拒绝出错",{icon:2});
                            }
                        }
                    });

                });
            }

            else if ( obj.event === 'send' ){
                layer.confirm( '真的要发货吗', function (index) {
                    $.ajax({
                        type:'post',
                        url:'/orderSend',
                        async:false,
                        data:{id:data.id},
                        success:function (code) {
                            if(code==="0"){
                                layer.msg("发货成功",{icon:6});
                                layui.father_reload();
                            }
                            else{
                                layer.msg("发货出错",{icon:2});
                            }
                        }
                    })
                })
            }

        });

    });
</script>


</html>